/*
Theme Name: TalkByChance
Theme URI: https://talkbychance.com
Author: TBC Development Team
Author URI: https://talkbychance.com
Description: Our 2016 TBC theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: talkbychance

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@font-face {
    font-family: 'ashburylight';
    src: url('fonts/Ashburylig-webfont.eot');
    src: url('fonts/Ashburylig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Ashburylig-webfont.woff2') format('woff2'),
         url('fonts/Ashburylig-webfont.woff') format('woff'),
         url('fonts/Ashburylig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: 'adelle-sans';
      src: url('fonts/adelle-sans.woff')format('woff');
      font-weight: normal;
      font-style: normal;
    }

body p {
  font-family: "ashburylight";
}
.blog-title{
  font-family: 'adelle-sans'
}
.auto-margin{
  margin: 0 auto;
}
.blog-container{
  width:55%;!important
}
.author-box::before{
  content: "";
  background-color: beige;
  height:2px;
  width:100%;
}
.author-box{
  width:50%;
  margin: 25px auto
}
.author-box::after{
  content: "";
  background-color: beige;
  height:2px;
  width:100%;
}
.post-date{
  color:#aaa;
}
.author-box .avatar{
  float: right;
  width: 75px;
  height: auto;
  border-radius: 50%;
  margin: 5px 5px 0px 5px;
}
.avatar-container,.bio-container{
  width: 50%;
  float: left;
}
.author-box .bio{
  margin: 5px 5px 0 5px;
}
.post-content p:nth-of-type(1):first-letter{
  font-size:36px;
  font-weight: bold;
}
.post-content p{
  line-height: 1.5;
  font-size: 20px
}
.post-content img{
  width: 90%;
  height:auto;
}
